.keycode-wrapper,
.decimal-code-wrapper,
.hexcode-wrapper {
  margin-bottom: 3rem;
}

.letter-text,
.letter {
  margin: 0 auto;
  text-align: center;
}

.keypress-wrapper{}
    .letter-text {
      margin-bottom: 2rem;
    }
    .letter {
      font-size: 5rem;
      font-weight: 700;
      line-height: 5.5rem;
    }
    .keypress-outputs {
      padding-top: 1rem;
    }
