.letter-text,
.letter {
  margin: 0 auto;
  text-align: center;
}

.keypress-wrapper{}
    .letter-text {
      margin-bottom: 2rem;
    }
    .letter {
      font-size: 5rem;
      font-weight: 700;
      line-height: 4rem;
    }
