header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid $neutral-color;
  background-color: #000000;
}
    .header-items {
      display: grid;
      grid-template-columns: 1fr 0.3fr;
      align-items: center;
    }
        .logo {
          padding: 1.5rem 0.8rem;
          font-size: 1.5rem;
          color: #FFFFFF;
        }
        .credit {
          color: #FFFFFF
        }
