// Layout
$mobile: 375px;
$desktop: 1440px;

// Colors
$default: #D4F5F5;
$primary-color-soft: #93B7BE;
$primary-color-dark: #554348;
$accent-color: hsl(163, 95%, 43%);
$neutral-color: #747578;
$header-color: #8C9A9E;